@using Proyectofinal.Models
@model Pais
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        Editar pais
    </div>
    <div class="card-body">


        <form asp-action="Editar" asp-controller="Pais" method="post">

            <input asp-for="CodigoPais" type="hidden" class="form-control">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input asp-for="Nombre" type="text" class="form-control">
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Listar" asp-controller="Pais" class="btn btn-warning">Volver a la lista</a>
        </form>


    </div>
</div>