
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        Lista de paises
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Pais" class="btn btn-success"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Codigo Pais</th>
                    <th>Nombre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CodigoPais</td>
                        <td>@item.Nombre</td>
                        <td>
                            <a asp-action="Editar" asp-controller="Pais" class="btn btn-primary btn-sm" asp-route-CodigoPais="@item.CodigoPais">Editar</a>
                            <a asp-action="Eliminar" asp-controller="Pais" class="btn btn-danger btn-sm" asp-route-CodigoPais="@item.CodigoPais">Eliminar</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>

    </div>
</div>