@using Proyectofinal.Models
@model Vuelo
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Registra vuelo
    </div>
    <div class="card-body">


        <form asp-action="Guardar" asp-controller="Vuelo" method="post">
            <div class="mb-3">
                <label class="form-label">Codigo</label>
                <input asp-for="Num_vuelo" type="text" class="form-control">
                <span asp-validation-for="Num_vuelo" class="text-danger"></span>
            </div>
@*             <div class="mb-3">
                <label class="form-label">Fecha Hora:</label>
                <input asp-for="FechaHora" type="text" class="form-control">
                <span asp-validation-for="FechaHora" class="text-danger"></span>
            </div> *@
            <div class="mb-3">
                <label class="form-label">Fecha Hora:</label>
                <input asp-for="FechaHora" type="date" class="form-control" />
                <span asp-validation-for="FechaHora" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Origen</label>
                <input asp-for="Origen" type="text" class="form-control">
                <span asp-validation-for="Origen" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Destino</label>
                <input asp-for="Destino" type="text" class="form-control">
                <span asp-validation-for="Destino" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Plazas Totales</label>
                <input asp-for="PlazasTotales" type="text" class="form-control">
                <span asp-validation-for="PlazasTotales" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Plazas Clase Turista (plazas_clase_turista <= plazas_totales)</label>
                <input asp-for="PlazasClaseTurista" type="text" class="form-control">
                <span asp-validation-for="PlazasClaseTurista" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Listar" asp-controller="Vuelo" class="btn btn-warning">Volver a la lista</a>
        </form>


    </div>
</div>

